<div class="shelementwhole">
    <p onclick="shohid($(this));">
        <b>
            <a href="#" onclick="return false;">
                {{ .build.name }} - {{ delimit .build.uses ", " }}
            </a>
        </b>
    </p>
    <div class="autohide">
        <p><b>Author</b>: {{ .build.author }}</p>

        {{ if isset .build "gem_range"}}
        <p><b>Range</b>: {{ .build.gem_range }}</p>
        {{ end }}

        {{ if isset .build "requirements" }}
        <p><b>Requirements</b>: {{ delimit .build.requirements ", "}}</p>
        {{ end }}

        <p><b>Alignment</b>: {{ .build.alignment }}</p>

        {{ if isset .build "bloodline"}}
        <p><b>Bloodline</b>: {{ safeHTML .build.bloodline }}</p>
        {{ end }}

        {{ range .build.builds }}
        <p>
            <button onclick="myFunction($(this))">Copy Build</button>
            <input type="text" value="{{ .build }}" />
            {{ if isset . "note" }}
            <b>{{ .note }}</b>
            {{ end }}
        </p>
        {{ end }}

        {{ range .build.notes }}
        <p><b>Note</b>: {{ . }}</p>
        {{ end }}

        {{ if isset .build "slowdown" }}
        <p>
            <b>
                <font color="DarkRed">When build slows down:</font>
            </b>
        </p>
        {{ range .build.slowdown }}
        <p><b>Note</b>: {{ . }}</p>
        {{ end }}
        {{ end }}
    </div>
</div>