<div class="shelementwhole">
    <p onclick="shohid($(this));">
        <b>
            <a href="#" onclick="return false;">
                {{ .build.name }} - {{ delimit .build.uses ", " }}
            </a>
        </b>
    </p>
    <div class="autohide">
        <p><b>Author</b>: {{ .build.author }}</p>

        {{ with .build.gem_range }}
        <p><b>Range</b>: {{ . }}</p>
        {{ end }}

        {{ with .build.requirements }}
        <p><b>Requirements</b>: {{ delimit . ", "}}</p>
        {{ end }}

        <p><b>Alignment</b>: {{ .build.alignment }}</p>

        {{ with .build.bloodline }}
        <p><b>Bloodline</b>: {{ safeHTML . }}</p>
        {{ end }}

        {{ range .build.builds }}
        <p>
            <button onclick="myFunction($(this))">Copy Build</button>
            <input type="text" value="{{ .build }}" />
            {{ with .note }}
            <b>{{ . }}</b>
            {{ end }}
        </p>
        {{ end }}

        {{ range .build.notes }}
        <p><b>Note</b>: {{ . }}</p>
        {{ end }}

        {{ with .build.slowdown }}
        <p>
            <b>
                <font color="DarkRed">When build slows down:</font>
            </b>
        </p>
        {{ range . }}
        <p><b>Note</b>: {{ . }}</p>
        {{ end }}
        {{ end }}
    </div>
</div>