{{ define "main" }}
<h6><img src="http://musicfamily.org/realm/Factions/picks/ResearchTopPage.png"></h6>
<p>
    Information about how Research Slots / Budget work can be found at
    <b><a href="http://musicfamily.org/realm/Research">Research</a></b>.
</p>
<p>
    All Researches can also be found in a graphical form at:
    <b><a href="http://musicfamily.org/realm/Researchtree">Research Tree</a></b>.
</p>
<hr>
<p><b>Research Facilities</b>:</p>

<div class="shlisting">
    {{ range .Site.Data.research }}
    {{ range $facility, $list := . }}
    <p onclick="shohid($(this));">
        <img src="http://musicfamily.org/realm/Factions/picks/{{ $facility }}.png" alt="{{ $facility }}" align="middle">
        <a href="#" onclick="return false;">
            <b>{{ $facility }}</b>
        </a>
    </p>
    <div class="autohide">
        {{ range $index, $research := $list }}
        {{ partial "research.html" (dict "research" $research) }}
        {{/* kinda hacky way to delimit */}}
        {{ if ne $index (sub (len $list) 1)}}
        <hr>
        {{ end }}
        {{ end }}
    </div>
    {{ end }}
    {{ end }}
</div>
{{ end }}